.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    color: black;
}


* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn{
    margin-left: 20px;
    border-radius: 4px;
    border: none;
    width: 100px;
    height: 30px;
}